/* Color Values


// Pink:    #ee6a7c
// Yellow:  #fac718
// Green:   #36ae99
// Blue:    #195ba7
// Brown:   #544d50
// Orange:  #fa6a33

*/

@font-face {
    font-family: acre;
    src: url(../CSS/Fonts/Acre-Medium.woff) format('woff');
}

* {
  font-family:acre;
  letter-spacing: 1px;
}

/* /////////////////////////// */
/* ///////   NAVBAR    /////// */
/* /////////////////////////// */

.navbar{
  background: rgba(255, 255, 255, 0.5);
  color: #ee6a7c;
}
/* color nav links */

.nav-link {
  color: #ee6a7c;
}

/* /////////////////////////////// */
/*  LANDING PAGE / JUMBOTRON START */
/* /////////////////////////////// */



.jumbotron {
  background-image: url('../imgs/photos/HeaderPhoto1.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat:no-repeat;
  background-size: cover;
  height: 100vh;


}

/* ////////////////////////////////////  */
/* ////// JUMBO  Title Div ////////////  */
/* ////////////////////////////////////  */
.jumboText {
    padding-left: 14%;
    font-size: 9.5vh;
    color: white;
    position: absolute;
    top: 45vh;
    left: 0;
    line-height: 10vh;

}

.jumboTear {
    margin-left: 14%;
    padding-left: 1%;
    padding-right: 0%;
    color: white;
    position: absolute;
    top: 66vh;
    left: 0;
    width: 60%;
    font-size: 5vh;
    background: #ee6a7c;
    padding: .8%;
}

/* /////////////////////////// */
/* ALL CONNECTED SECTION START */
/* /////////////////////////// */



.wheelText {
  color: #;
  font-size: 5vh;

}

.wheelItem {
  background-attachment: fixed;
  background-position: center;
  background-repeat:no-repeat;
  background-size: cover;
  height: 100vh;

}
#wheel {
  background-image: url('../imgs/photos/wheel/soilWheel.jpg');
}

#wheelHealthySoils {
  background-image: url('../imgs/icons/wheel/Wheel Screenshots-01.svg');
}

#wheelHealthyPlants {
  background-image: url('../imgs/icons/wheel/Wheel Screenshots-02.svg');
}

#wheelHealthyPeople {
  background-image: url('../imgs/icons/wheel/Wheel Screenshots-03.svg');
}

#wheelHealthyCommunities {
  background-image: url('../imgs/icons/wheel/Wheel Screenshots-04.svg');
}

#wheelHealthyEconomies {
  background-image: url('../imgs/icons/wheel/Wheel Screenshots-06.svg');
}

#wheelHealthyPlanet {
  background-image: url('../imgs/icons/wheel/Wheel Screenshots-07.svg');
}

/* ////////////////////////////////////////// */
/* ALL CONNECTED - HEALTH SOIL SCROLL HORIZON */
/* ////////////////////////////////////////// */

.allConnectedScroll {
  background-attachment: fixed;
  background-position: center;
  background-repeat:no-repeat;
  background-size: cover;
  height: 100vh;
}

#healthySoils {
  background-image: url('../imgs/photos/wheel/wheel-soil.jpg');
}

#healthyPlants {
  background-image: url('../imgs/photos/wheel/wheel-plants.jpg');
}

#healthyPeople {
  background-image: url('../imgs/photos/wheel/wheel-people.jpg');
}

#healthyCommunities {
  background-image: url('../imgs/photos/wheel/wheel-communities.jpg');
}

#healthyEconomies {
  background-image: url('../imgs/photos/wheel/wheel-economies.jpg');
}

#healthyPlanet {
  background-image: url('../imgs/photos/wheel/wheel-planet.jpg');
}

/* /////////////////////////////////////////////// */
/* ///  6F 's Of Soil - START VERTICAL SCROLL  /// */
/* /////////////////////////////////////////////// */

.sixFsDEMO {
  color:#32A894;
}


.sixFs {
  color: black;
  font-size: 5vh;
}

.sixFs span{
  color: #32A894;
  font-size: 5vh;
}

#sixFsButton {
  color: #32A894;
  font-family: acre;
  font-size: 5vh;
  background-color: white;
  border-style: none;
  border-width: none;
  border-color: none;
}

/* /////////////////////////////////////////////// */
/* ///  6F 's Of Soil - START HORIZONTAL SCROLL // */
/* /////////////////////////////////////////////// */

.sixFsScroll {
  background-attachment: fixed;
  background-position: center;
  background-repeat:no-repeat;
  background-size: cover;
  height: 100vh;

}

#sixFsFood {
  background-image: url('../imgs/photos/fScroll/6Fs-Scroll-Food.jpg');
}

#sixFsFilter {
  background-image: url('../imgs/photos/fScroll/6Fs-Scroll-Filter.jpg');
}

#sixFsFiber {
  background-image: url('../imgs/photos/fScroll/6Fs-Scroll-Fiber.jpg');
}

#sixFsFoundation {
  background-image: url('../imgs/photos/fScroll/6Fs-Scroll-Foundation.jpg');
}

#sixFsFarmaceuticals {
  background-image: url('../imgs/photos/fScroll/6Fs-Scroll-Farmaceuticals.jpg');
}

#sixFsFun {
  background-image: url('../imgs/photos/fScroll/6Fs-Scroll-Fun.jpg');
}


/* //////////////////////////////////////////// */
/* ///nSTORY OF SOIL GENESIS - mediaContent /// */
/* //////////////////////////////////////////// */

.mediaContent {
  background-image: url('../imgs/photos/mediaBackground.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat:no-repeat;
  background-size: cover;
  height: 100vh;
}

.genesisTear {
    margin-left: 0;
    padding-left: 1%;
    padding-right: 0%;
    color: white;
    position: absolute;
    top: 2vh;
    left: 0;
    width: 60%;
    font-size: 5vh;
    background: #ee6a7c;
    padding: .8%;
}

#videos {
  background-image: url('');
}

#infographics {
  background-image: url('');
}

#educationalTools {
  background-image: url('');
}

#soilProfiles {
  background-image: url('');
}


/* //////////////////////////////////////////// */
/* ////////////// DIG DEEPER   //////////////// */
/* //////////////////////////////////////////// */


.digDeeper {
  background-attachment: fixed;
  background-position: center;
  background-repeat:no-repeat;
  background-size: cover;
  height: 100vh;
}

#dig1 {
  background-image: url('../imgs/photos/dig/digDeeper1.jpg');
}
#soilSpheres {
  background-image: url('../imgs/photos/dig/soilSpheres.jpg');
}

#soilFormingFactors {
  background-image: url('../imgs/photos/dig/soilFormingFactors.jpg');
}

#soilEnvironment {
  background-image: url('../imgs/photos/dig/SoilEnvironment.jpg');
}

#soilBiology {
  background-image: url('../imgs/photos/dig/soilBiology.jpg');
}
#soilChemistry {
  background-image: url('../imgs/photos/dig/soilChemistry.jpg');
}
#soilComplexity {
  background-image: url('../imgs/photos/dig/soilComplexity.jpg');
}
#soilHealthDifferent {
  background-image: url('../imgs/photos/dig/soilHealthDifferent.jpg');
}
#soilRisk {
  background-image: url('../imgs/photos/dig/soilRisk.jpg');
}


/* //////////////////////////////////////////// */
/* ////////////// GET INVOLVED //////////////// */
/* //////////////////////////////////////////// */


.involvedItem {
  background-attachment: fixed;
  background-position: center;
  background-repeat:no-repeat;
  background-size: cover;
  height: 100vh;
}

#index1 {
  background-image: url('../imgs/photos/getInvolved/getInvolved-Index1.jpg');
}

#atHome {
  background-image: url('../imgs/photos/getInvolved/getInvolved-atHome.jpg');
}

#inCommunity {
  background-image: url('../imgs/photos/getInvolved/getInvolved-inCommunity.jpg');
}

#legislation {
  background-image: url('../imgs/photos/getInvolved/getInvolved-legislation.jpg');
}
#socialMedia {
  background-image: url('../imgs/photos/getInvolved/getInvolved-socialMedia.jpg');
}
#education {
  background-image: url('../imgs/photos/getInvolved/getInvolved-education.jpg');
}
#donations {
  background-image: url('../imgs/photos/getInvolved/getInvolved-donations.jpg');
}


/* //////////////////////////////////////////// */
/* ////////////// ABOUT US   ////////////////// */
/* //////////////////////////////////////////// */


.aboutUS {
  background-image: url('../imgs/photos/getInvolved/getInvolved-Index2.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat:no-repeat;
  background-size: cover;
  height: 100vh;
}

/* NEXT ARROWS */

a.nav {
  display: inline-block;
  position: absolute;
  text-decoration: none;
  top: 50vh;
  right:0;
  background: rbg(0,0,0,0);
  padding: 10px;
  z-index: 99;
}

a.nav.next {
  right: 0;
}

a.nav.next img {
  height: 40x;
  width: 40px;
}

a.nav.prev {
  left: 0;
}

a.nav.prev img{
  height: 40px;
  width: 40px;
}
