<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/main.css' />
  </head>
  <body>
    <section id="introduction">
      <h1><%= type %></h1>
      <h1><%= model %></h1>
      <h1><%= color %></h1>
    </section>
  </body>
</html>
