<%- include head %>
    <section id="introduction">
      <h1><%= title %></h1>
      <h2>bigs things have small beginnings</h2>
      <figure>
        <img src="./images/treeling.jpg">
        <figcaption>Photo by U.S. Department of Agriculture under Creative Commons License 2.0</figcaption>
      </figure>
    </section>
<%- include footer %>
