<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/main.css' />
  <link rel='stylesheet' href='/stylesheets/wlb.css' />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
    crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
    crossorigin="anonymous"></script>
  <link type="text/css" rel="stylesheet" href="./dist/css/lightgallery.css" />
</head>

<body>
  <!--  Navigation Bar-->
  <nav class="navbar navbar-toggleable-md">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>

    <a class="navbar-brand" href="#">
      <img class="logo" src="./images/logo.svg" alt="">
    </a>

    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav nav-fill">
        <li class="nav-item ">
          <a class="nav-link" href="index.html#aboutUs">about us </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="index.html#sixFsOfSoil">soil matters</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="index.html#mediaContent">media</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="index.html#getInvolved">get involved</a>
        </li>
      </ul>
    </div>
  </nav>
  <section id="introduction">
    <h1>
      <%= title %>
    </h1>
  </section>

  <div id="caption2" style="display:none">
    <h4>Bowness Bay</h4><p>A beautiful Sunrise this morning taken En-route to Keswick not one as planned but I'm extremely happy I was passing the right place at the right time....</p>
</div>
<div class="caption3" style="display:none">
    <h4>Sunset Serenity</h4><p>A gorgeous Sunset tonight captured at Coniston Water....</p>
</div>   
  <div class="grid-container" id="captions">
    <div data-src="/images/wlb/profile/Alfisol_profile_WLB.jpg" class="grid-item" data-sub-html="#caption2" >
      <a>
        <img src="/images/wlb/landscape/Alfisol_surface.jpg" />
      </a>
    </div>
    <div data-src="/images/wlb/profile/Andisol_profile_WLB.jpg" class="grid-item">
      <a data-sub-html="#caption">
        <img src="/images/wlb/landscape/Andisol_surface_WLB.jpg" />
      </a>
    </div>
    <div data-src="/images/wlb/profile/Andisol_profile_WLB.jpg" class="grid-item">
      <a data-sub-html="#caption">
        <img src="/images/wlb/landscape/Aridisol_surface_WLB.jpg" />
      </a>
    </div>
    <div data-src="/images/wlb/profile/Andisol_profile_WLB.jpg" class="grid-item">
      <a data-sub-html="#caption">
        <img src="/images/wlb/landscape/Entisol_surface_Killburn_WLB.jpg" />
      </a>
    </div>
    <div data-src="/images/wlb/profile/Andisol_profile_WLB.jpg" class="grid-item">
      <a data-sub-html="#caption">
        <img src="/images/wlb/landscape/Gelisol_surface_WLB.jpg" />
      </a>
    </div>
    <div data-src="/images/wlb/profile/Andisol_profile_WLB.jpg" class="grid-item">
      <a data-sub-html="#caption">
        <img src="/images/wlb/landscape/Inceptisol_surface_Dellwood_WLB.jpg" />
      </a>
    </div>
    <div data-src="/images/wlb/profile/Andisol_profile_WLB.jpg" class="grid-item">
      <a data-sub-html="#caption">
        <img src="/images/wlb/landscape/Mollisol_surface_WLB.jpg" />
      </a>
    </div>
    <div data-src="/images/wlb/profile/Andisol_profile_WLB.jpg" class="grid-item">
      <a data-sub-html="#caption">
        <img src="/images/wlb/landscape/Ultisol_surface_Barnwell_WLB.jpg" />
      </a>
    </div>
    <div data-src="/images/wlb/profile/Andisol_profile_WLB.jpg" class="grid-item">
      <a data-sub-html="#caption">
        <img src="/images/wlb/landscape/Vertisol_surface_WLB.jpg" />
      </a>
    </div>
    <div data-src="/images/wlb/profile/Andisol_profile_WLB.jpg" class="grid-item">
      <a data-sub-html="#caption">
        <img src="/images/wlb/landscape/Alfisol_surface_WLB.jpg" />
      </a>
    </div>
    <div data-src="/images/wlb/profile/Andisol_profile_WLB.jpg" class="grid-item">
      <a data-sub-html="#caption">
        <img src="/images/wlb/landscape/Alfisol_surface_WLB.jpg" />
      </a>
    </div>
    <div data-src="/images/wlb/profile/Andisol_profile_WLB.jpg" class="grid-item">
      <a data-sub-html="#caption">
        <img src="/images/wlb/landscape/Alfisol_surface_WLB.jpg" />
      </a>
    </div>


  </div>
  </div>

  <script src="./dist/js/lightgallery.min.js"></script>
  <script type="text/javascript">
    lightGallery(document.getElementById('lightgallery'), {
      width: '700px',
      height: '470px',
      addClass: 'fixed-size',
    });
    lightGallery(document.getElementById('captions'), {
      width: '700px',
      height: '470px',
      addClass: 'fixed-size',
    });
  </script>
</body>

</html>